<main class="container">
    <div class="centrar">
        <img id="logoeeh" src="../../../assets/img/LOGO EEH-02.png" alt="">
    </div>
    <div class="centrar">
        <img id="logoaepi" src="../../../assets/img/LOGO aepi.PNG" alt="">
    </div>
    <div class="centrar">
        <h1>Iniciar sesión</h1>
        <input [formControl]="idInspector" type="text" placeholder="Ingrese su ID">
        <h1>Password</h1>
        <input [formControl]="password" type="password" placeholder="*******">
    </div>
    <div class="centrar">
        <button id="continuar" class="btn" type="submit">Continuar</button><br>
        <button id="registrar" class="btn" type="submit" routerLink="Registro">Registrarse</button><br>
        <a href="">¿Necesitas ayuda?</a>
    </div>
</main>